{% include 'core/header.html' %}


    <section class="formulario">
            <h1>
                Agregar Productos
            </h1>
        
            <form class="form1" action="">
                    <label for="nombre-producto" class="Nombre">Nombre de Producto </label>
                    <input id="nombre-producto" type="text">
                
                    <label for="numero-producto">Codigo de Producto</label>
                    <input id="numero-producto" type="number">
        
                    <button>Guardar</button>
                </form>


    </section>

</body>
</html>