{% include 'core/header.html' %}


    <section class="formulario-buscar">
            <h1>
                Modificar Producto
            </h1>
    
            <form class="form2" action="">
                    <label for="numero-producto" class="numero-producto"> <i class="fas fa-search"></i></label>
                    <input id="numero-producto" type="number" placeholder="Codigo de producto">
                    <button>Buscar</button>
             </form>
        </section>

</body>
</html>