{% include 'core/header.html' %}

    <section class="formulario-buscar">
        <h1>
            Buscar Cliente
        </h1>

        <form class="form2" action="{% url 'buscarCliente' %}" method="post">
            {% csrf_token %}
                <label for="rut" class="rut"> <i class="fas fa-search"></i></label>
                <input name="rut" type="number" placeholder="Buscar Rut" >
                <input class="botonn" type="submit" value="Buscar">
        </form>
          

    </section>

    <section class="detalle">
    <h1>
      <i class="fas fa-list-alt"></i> Listado de Clientes
    </h1>
      <ul>
        {% for cliente in listaClientes %}
          <li> <i class="fas fa-user"></i> <a href="{% url 'detalleCliente' cliente.rut %}">{{ cliente.rut }} - {{ cliente.nombre }} {{ cliente.apellido }}</a></li>
        {% endfor %}
      </ul>
    </section>
</body>
</html>