{% include 'core/header.html' %} {% if cliente %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-user-circle"></i> Detalle de cliente</h1>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Cliente:</th>
            <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
        </tr>
        <tr>
            <th>RUT:</th>
            <td>{{ cliente.rut }}</td>
        </tr>
        <tr>
            <th>Correo:</th>
            <td>{{ cliente.correo }}</td>
        </tr>
        <tr>
            <th>Telefono:</th>
            <td>{{ cliente.telefono }}</td>
        </tr>
        <tr>
            <th>Direccion:</th>
            <td>{{ cliente.direccion }}</td>
        </tr>
    </table>
</div>

<form class="container" action="{% url 'confirmarEliminarCliente' cliente.rut %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">Eliminar</button>
</form>

{% else %} {% endif %}


</body>
{% include 'core/footer.html' %}

</html>