{% include 'core/header.html' %}

{% if listaClientes and listaProductos%}

    <section class="formulario">
            <h1>
                Agregar Cotizacion
            </h1>
            <form class="form1" action="{% url 'nuevaCotizacion' %}" method="post">
                {% csrf_token %}
                
                <p>Listado clientes: </p>
                
                {% for cliente in listaClientes %}
                    <input type="radio" name="cliente" id="cliente{{ cliente.rut }}" value="{{ cliente.rut }}">
                    <label for="cliente{{ cliente.rut }}">{{ cliente.nombre }}</label><br>
                {% endfor %}
                <p>Catalogo: </p>
                
                {% for producto in listaProductos %}
                    <input type="number" name="productos" id="productos{{ producto.codigo }}" value="{{ producto.codigo }}">
                    <label for="productos{{ producto.codigo }}">{{ producto.nombre }}</label><br>
                {% endfor %}

                <label for="fecha-expiracion">Fecha de Expiracion</label>
                <input name="fecha-expiracion" type="date">

                <label for="precio-servicio">Precio servicio</label>
                <input name="precio-servicio" type="number" value="0">

                <label for="total">Total</label>
                <input name="total" type="number" value="0">

                <input type="submit" value="Agregar">
            </form>


    </section>

{% else %}
    <section class="detalle">
    <p>No existen clientes o productos.</p>

</section>

{% endif %}


</body>
</html>