{% include 'core/header.html' %} {% if cliente %}

<section class="detalle">
    <h1>
        <i class="fas fa-address-card"></i> Detalle de Cliente
    </h1>
    <p><i class="fas fa-user-circle"></i> Nombre: {{ cliente.nombre }}</p>
    <p><i class="fas fa-user-circle"></i> Apellido: {{ cliente.apellido }}</p>
    <p><i class="fas fa-id-card"></i> RUT: {{ cliente.rut }}</p>
    <p><i class="fas fa-envelope"></i> Correo: {{ cliente.correo }}</p>
    <p><i class="fas fa-mobile-alt"></i> Telefono: {{ cliente.telefono }}</p>
    <p> <i class="fas fa-sign"></i> Direccion: {{ cliente.direccion }}</p>

</section>

{% else %}

<section class="detalle">
    <p>No existe cliente.</p>

</section>
{% endif %}


</body>
{% include 'core/footer.html' %}

</html>