{% include 'core/header.html' %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-user-circle"></i> Detalle cliente</h1>
    </div>
</div>

{% if cliente %}

<body>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Cliente:</th>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th>RUT:</th>
                <td>{{ cliente.rut }}</td>
            </tr>
            <tr>
                <th>Correo:</th>
                <td>{{ cliente.correo }}</td>
            </tr>
            <tr>
                <th>Telefono:</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion:</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="{% url 'buscarCliente' %}" role="button"> Volver</a>
    </div>
</body>

{% else %}
<div class="container">
    <div class="alert alert-warning fade show" role="alert">
        <strong>Algo ha fallado!</strong> El cliente no existe.
    </div>
    <a class="btn btn-primary" href="{% url 'buscarCliente' %}" role="button"> Volver</a>
</div>
{% endif %} {% include 'core/footer.html' %}

</html>