
<li><a href="{% url 'nuevoCliente' %}"> Nuevo cliente?: </a></li>

<form action="{% url 'generarCotizacion' %}" method="post">
{% csrf_token %}

<p>Listado clientes: </p>

{% for cliente in listaClientes %}
    <input type="radio" name="cliente" id="cliente{{ cliente.rut }}" value="{{ cliente.rut }}">
    <label for="cliente{{ cliente.rut }}">{{ cliente.nombre }}</label><br>
{% endfor %}

<p>Catalogo: </p>

{% for producto in listaProductos %}
    <input type="checkbox" name="productos" id="productos{{ producto.codigo }}" value="{{ producto.codigo }}">
    <label for="productos{{ producto.codigo }}">{{ producto.nombre }}</label><br>
{% endfor %}

<input type="submit" value="Aceptar">
</form>